*{
    padding: 0px;
    margin: 0px;
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    position: relative;
}

#three-card-first{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#three-card-first img{
    width: 100%;
}
.loki-single-image  img{
    width: 100vw;
}

#four-card-first{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#four-card-first img{
    width: 100%;
}

#l-navbar-black{
    position: relative;
}


